body{
    background: url(wall.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
#clock{
    text-align: center;
    font-size: 80px;
    position: fixed;
    top: 10%;
    left:60%;
    color: white;
}

#b{
    position: fixed;
    top: 70%;
    left: 40%;
    width: 200px;
    height: 40px;
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 25px;
}